/* general */

body {
    background-color: #f5ffed;
}

.centered{
    text-align: center;
    margin-top: 100px;
}

/* home page */

#mestre{
    padding-top: 0px;
    width: 300px;
    height: auto;
}

.content-block{
    border: 2px solid #ffebbb;
    background-color: #fdffcd;
    width: 300px;
    padding-inline: 50px;
    margin: auto;
}


.content-block div{
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    background-color: #f9fadb;
    border: solid #ffebbb;
}

.content-block a{
    display: block;
    text-decoration: none;
    color: black;
}

.content-block div:hover{
    background-color: #fdffd1;
}


/* recipe pages */

.recipe *{
    width: 600px;
    margin: auto;
}

.title{
    text-align: center;
    margin-bottom: 60px;
}

.recipe-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
}

.description {
    display: block;
    width: 600px;
    margin: auto;
    margin-top: 5px;
}

.tutorial {
    margin-top: 25px;
}


